<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="abrirBuscador()">
        <ion-icon name="search" size="large" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!on_buscar">Pagos</ion-title>
    <ion-searchbar *ngIf="on_buscar" show-clear-button="focus" mode="md" type="text"
      placeholder="Ingresar nombre cliente"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button color="success" size="small" (click)="modalNuevaRenta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="actualizarPagos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment (ionChange)="cambiarListaSegment($event)" [(ngModel)]="segment">
    <ion-segment-button value="pendientes">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completados">
      <ion-label>Completados</ion-label>
    </ion-segment-button>
  </ion-segment>

  <swiper-container (slidechange)="cambiarListaSwiper()" #swiper>
    <swiper-slide>
      <div class="ion-padding">
        <ion-list lines="none">
          <ion-item *ngFor="let p of pagosPendientes; let i = index">
            <ion-row (click)="seleccionarPago(p, i, 'pendientes')">
              <ion-col size="6">
                <h3><strong>{{p.cliente}} </strong></h3>
                <p>{{p.fecha}}</p>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Total</p>
                <ion-badge color="primary">${{p.total}}</ion-badge>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Pagado</p>
                <ion-badge color="success">${{p.pagado}}</ion-badge>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Restante</p>
                <ion-badge color="danger">${{p.restante}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
          <div class="footer-list"></div>
        </ion-list>
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="ion-padding">
        <ion-list lines="none">
          <ion-item *ngFor="let p of pagosCompletados; let i = index">
            <ion-row (click)="seleccionarPago(p, i, 'completados')">
              <ion-col size="6">
                <h3><strong>{{p.cliente}} </strong></h3>
                <p>{{p.fecha}}</p>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Total</p>
                <ion-badge color="primary">${{p.total}}</ion-badge>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Pagado</p>
                <ion-badge color="success">${{p.pagado}}</ion-badge>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <p>Restante</p>
                <ion-badge color="danger">${{p.restante}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
          <div class="footer-list"></div>
        </ion-list>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>